.breadcrumb-item.active * {
  color: #98a6ad !important;
}
.breadcrumb-item:not(.active):hover {
  text-decoration: underline;
}
.breadcrumb-item input:focus {
  outline: 0;
}

.badge.badge-custom {
  color: inherit;
  font-weight: normal;
  font-size: 14.4px;
}
.badge.badge-font-size-normal {
  font-size: 14.4px;
  font-weight: normal;
}

.slide-box {
  top: 0;
  transition: 0.2s ease-in-out;
}
.slide-box.slide-box-table {
  left: 0;
}
.slide-box.slide-box-table.active {
  left: -100vw;
}
.slide-box.slide-box-table.active-layer2 {
  left: -200vw;
}
.slide-box.slide-box-form {
  left: 100vw;
}
.slide-box.slide-box-form.active {
  left: 0;
}
.slide-box.slide-box-form.active-layer2 {
  left: -100vw;
}
.slide-box.slide-box-form-layer2 {
  left: 200vw;
}
.slide-box.slide-box-form-layer2.active {
  left: 0;
}

#card-box .card-box {
  transition: 0.2s ease-in-out;
}
#card-box .card-box.card-box-table.active {
  left: -100vw;
}
#card-box .card-box.card-box-form {
  left: 100vw;
}
#card-box .card-box.card-box-form.active {
  left: 0;
}
#card-box .card-box.card-box-form .inspektorat-teks {
  letter-spacing: 5px;
}
#card-box .card-box.card-box-form figure {
  height: 80px;
}
#card-box .card-box.card-box-form figure img {
  height: 100%;
  width: auto;
}
#card-box .card-box.card-box-form hr {
  border-top: 2.5px solid #111;
}

.form-usulan .form-control-border-bottom-no-rad {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.form-usulan .text-underline {
  text-decoration: underline;
}
.form-usulan ol.parent-list li .list-content ol.child-list {
  list-style-type: lower-latin;
}

.v-align-middle {
  vertical-align: middle !important;
}

.form-control-min-width {
  min-width: 10px;
}

.w-10 {
  width: 10%;
}

ol.ol_alphabet_caps {
  list-style-type: upper-alpha;
}
ol.ol_alphabet_lower {
  list-style-type: lower-alpha;
}
ol.ol_roman {
  list-style-type: upper-roman;
}

/*# sourceMappingURL=mainCustom.css.map */
